<p id="notice"><%= notice %></p>

<h1>Sheets Statements</h1>

<table>
  <thead>
    <tr>
      <th>Lang key</th>
      <th>Increase klass</th>
      <th>Decrease klass</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sheets_statements.each do |sheets_statement| %>
      <tr>
        <td><%= sheets_statement.lang_key %></td>
        <td><%= sheets_statement.increase_klass_id %></td>
        <td><%= sheets_statement.decrease_klass_id %></td>
        <td><%= link_to 'Show', sheets_statement %></td>
        <td><%= link_to 'Edit', edit_sheets_statement_path(sheets_statement) %></td>
        <td><%= link_to 'Destroy', sheets_statement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sheets Statement', new_sheets_statement_path %>
