<p id="notice"><%= notice %></p>

<p>
  <strong>Lang key:</strong>
  <%= @chart_account_sub_group.lang_key %>
</p>

<p>
  <strong>Account group:</strong>
  <%= @chart_account_sub_group.account_group_id %>
</p>

<%= link_to 'Edit', edit_chart_account_sub_group_path(@chart_account_sub_group) %> |
<%= link_to 'Back', chart_account_sub_groups_path %>
