<%= form_with(model: chart_account_group, local: true) do |form| %>
  <% if chart_account_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chart_account_group.errors.count, "error") %> prohibited this chart_account_group from being saved:</h2>

      <ul>
        <% chart_account_group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lang_key %>
    <%= form.text_field :lang_key %>
  </div>

  <div class="field">
    <%= form.label :account_klass_id %>
    <%= form.text_field :account_klass_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
